/*
*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: beige;
    display: flex;
    justify-content: center;
}

p{
    margin: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 700px;
    font-size: 20px;
}

h1{
    display: flex;
    justify-content: center;
    color: #385170;
    margin: 1em;
}

/*text area*/
#list-to-add{
    width: 600px;
    font-size: 15px;
    padding: 10px;
    height: 80px;
    border: none;
    resize: none;
    color: black;
    font-weight: 700;
    background-color: #f6d8ac;
}

/*Add Button*/
#addToListButton{
    border: none;
    background-color: white;
    padding: 42.4px;
    cursor:pointer;
}

#addToListButton:hover{
    color:rgb(0, 0, 0);
    font-weight: 700;
    background-color: green;
}
.formContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*the created container that holds the p and button*/
.listContainer{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

/*the created P element using js*/
.newList{
    width: 620px;
    background-color: rgb(224, 224, 224);
    justify-content:flex-start;
    min-height: 100px;
    padding:10px;
    margin: 0;
    display: inline-block;
    word-break: break-word;
}

/**/
.listButtons{
    padding-top: 3.9em;
    padding-bottom: 3.9em;
    padding-right: .2em;
    padding-left: .2em;
    min-width: 80px;
    margin: 0;   
    border:#132743;
    cursor: pointer;
}

.removeButton:hover{
    font-weight: 700;
    color:beige;
    background-color: brown;
}

.lineThroughButton:hover{
    font-weight: 700;
    color:beige;
    background-color: blue;
}

.editButton:hover{
    font-weight: 700;
    color:beige;
    background-color: rgb(154, 228, 250);
}

.noEditChecked:hover{
    background-color: red;
    color:beige;
}

.noLineThroughButton:hover{
    background-color: red;
    color:beige;   
}

/*screens width less than 900*/
@media (max-width:900px) {
    #list-to-add{
        width:400px;   
    }
    .newList{
        width: 500px;
        height: 120px;
    }
    .listButtons{
        padding-top: 4.7em;
        padding-bottom: 4.7em;      
    }
}

@media (max-width:760px) {
    #list-to-add{
        width:300px;   
    }
    .newList{
        width: 400px;
        height: 150px;
    }
    .listButtons{
        padding: 5.8em .2em; 
    }
}

@media (max-width:670px) {
    #list-to-add{
        width:300px;   
    }
    .newList{
        width: 400px;
        height: 150px;
        height: auto;
    }
    .listContainer{
        display:block;
    }
     .buttonContainer{
        display: block; 
    }   
    .listButtons{
        padding: 2em 4.75em; 
    }  
}

@media (max-width:430px) {
    #list-to-add{
        width:200px;   
        display: flex; 
        justify-content: center;
    }
    .newList{
        display: flex;    
        width: 300px;
    }
    .listContainer{
        margin-top: 2em;
        display:block;
        padding: 0px;
    }
     .buttonContainer{
        display: flex; 
        justify-content: center;
    }   
    .listButtons{
        padding: 2em 3.51em; 
    }  
}