/*
*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: beige;
    display: flex;
    justify-content: center;
}

p{
    margin: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 700px;
    font-size: 20px;
}

h1{
    display: flex;
    justify-content: center;
    color: #385170;
    margin: 1em;
}

/*text area*/
.list-to-add{
    width: 600px;
    height: 80px;
    border: none;
    resize: none;
    color: #132743;
}

/*Add Button*/
.addToListButton{
    border: none;
    background-color: white;
    padding: 32.3px;
    cursor:pointer;
}
.addToListButton:hover{
    color:rgb(0, 0, 0);
    font-weight: 700;
    background-color: green;
}
.formContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*the created container that holds the p and button*/
.listContainer{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

/*the created P element using js*/
.newList{
    min-width: 620px;
    max-width: 620px;
    background-color: rgb(224, 224, 224);
    justify-content:flex-start;
    min-height: 100px;
    padding:0;
    margin: 0;
}

/**/
.listButtons{
    padding-top: 3.2em;
    padding-bottom: 3.2em;
    padding-right: .2em;
    padding-left: .2em;
    min-width: 80px;
    margin: 0;   
    border:#132743;
    cursor: pointer;
}

.removeButton:hover{
    font-weight: 700;
    color:beige;
    background-color: brown;
}

.lineThroughButton:hover{
    font-weight: 700;
    color:beige;
    background-color: blue;
}

.editButton:hover{
    font-weight: 700;
    color:beige;
    background-color: rgb(154, 228, 250);
}

.noEditChecked:hover{
    background-color: red;
    color:beige;
}